node_modules
coverage
.nyc_output
.DS_Store
*.log
.vscode
.idea
dist
compiled
.awcache
.rpt2_cache
docs
.history
index.js
src
test
tools
.prettierrc
_tslintconfig.json
code-of-conduct.node_modules
CONTRIBUTING.md
rollup.config.ts
tsconfig.json
tslint.json
jest.config.json